!!!
%head
  %title Snappygram
  %meta{charset: "utf-8"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "vendor/modernizr"
  
  = csrf_meta_tags
%body
  %nav.top-bar{"data-topbar" => ''}
    %ul.title-area
      %li.name
        %h1
          %a{href: '/'}Snappygram
    %section.top-bar-section
      %ul.right
        %li.active
          %a{href: "/upload"} Upload
  %section#main
    = yield
  = javascript_include_tag "application", "data-turbolinks-track" => true
  %script{id: 'snap-template', type: 'text/x-handlebars-template'}
    %section.row
      %article.columns.small-offset-3.medium-6.panel.text-center
        <img src='{{image}}'>
        %p.panel.callout.radius
          {{description}}
        {{#each tags}}
        %span.label.secondary.rounded {{this}}
        {{/each}}